<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Task Scheduler{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex flex-col min-h-screen">
    <nav class="bg-cyan-950 text-white p-4">
        <div class="container mx-auto flex justify-between items-center">
            <a href="{% url 'home' %}" class="text-2xl font-bold">Task Scheduler</a>
            <div>
                {% if user.is_authenticated %}
                <a href="{% url 'project_list' %}" class="mr-4">Projects</a>
                <a href="{% url 'change_password' %}" class="mr-4">Change Password</a>
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" class="mr-4">Login</a>
                <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
    </div>
</nav>

<main class="container mx-auto mt-8 mb-8 px-4 ">
    {% block content %}
    {% endblock %}
</main>

<footer class="bg-cyan-950 text-white text-center p-4 mt-auto">
    <p>&copy; 2024 Task Scheduler. All rights reserved.</p>
</footer>
</body>
</html>